<%
  serializer = Admin::SerializeHelper::Serializer
  s = serializer.new(@item, attribute)
%>

<% serializer.load_assets do %>
  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag "typus_serialize/application" %>
  <% end %>
  <% content_for :javascripts do %>
    <%= javascript_include_tag "typus_serialize/application" %>
  <% end %>
<% end %>
  
<% content_for :javascripts do %>
<script>
  $(document).ready(function(){
    $('#<%= attribute_id %>').typusSerialize({
      data:       <%= s.data %>,
      name:       '<%= s.name %>',
      keys:       <%= s.keys %>,
      limit:      <%= s.limit %>,
      locales:    <%= s.locales %>
    });
  });
</script>
<% end %>

<li id="<%= attribute_id %>">

  <%= form.label attribute, label_text %>

  <ul class="serial-list">
    <li class="serial-item serial-item-add">
      <a href="#" class="serial-button serial-add-button">Add <%= attribute %> +</a>
    </li>
  </ul>

</li>