<%
  ##
  #   Setup 
  #   this only happens once, the first time the template is called
  #
  @serializer ||= Admin::SerializeHelper::Serializer.new # use the same serializer for the whole page, to initialize
%>
<% @serializer.load_assets do %>
  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag "typus_serialize/application" %>
  <% end %>
  <% content_for :javascripts do %>
    <%= javascript_include_tag "typus_serialize/application" %>
  <% end %>
<% end %>

<%
  ##
  #   Template
  #   this is rendered for each translatable attribute (title, body, etc.)
  #
  instance = Admin::SerializeHelper::Serializer.new(@item, attribute)
%>
<% content_for :javascripts do %>
<script>
  $(document).ready(function(){
    $('#<%= attribute_id %>').typusSerialize({
      data:       <%= instance.data %>,
      name:       <%= instance.name %>,
      keys:       <%= instance.keys %>,
      limit:      <%= instance.limit %>,
      locales:    <%= instance.locales_json %>
    });
  });
</script>
<% end %>

<li id="<%= attribute_id %>">

  <%= form.label attribute, label_text %>

  <ul class="serial-list">
    <li class="serial-item serial-item-add">
      <a href="#" class="serial-button serial-add-button">Add <%= attribute %> +</a>
    </li>
  </ul>

</li>

